@import url(https://fonts.googleapis.com/css?family=Roboto);
html{
  font-family: "Roboto", sans-serif;
}
ul{
  list-style: none;
}
ul ul ul{
  list-style:circle;
}
.main-list{
  padding-left: 0px;
  width:100%;
}
h2{
  width:100%;
  padding:5px;
  background-color:#DADADA;
  border-radius:5px;
  margin: 10px 0px;
}
#name-title{
  font-size:2.25em;
  text-align:center;
}
#occupation-title{
  text-align:center;
  font-size:1.25em;
}
.resume-header{
  font-family: "Courier New";
  width:80%;
  margin:0 auto;
}
.resume-header-wrapper{

}
.main-list{
  margin:0 auto;
  width:80%;
}
.contact-table{
  width:100%;
}
.contact-heading{
  font-weight:bold;
}
.summary-list{
  list-style:disc;
}
h4{
  margin:15px 0px;
}
a{
  color:black;
}
.highlight{
  font-weight:900;
  color:teal;
  background-color:lightgrey;
}
/*MEDIA*/
@media print{
  html{
    line-height:1em;
    font-size:0.75em;
  }
  h4{
    margin:8px 0px;
  }
  .resume-header{
    width:100%;
  }
  .main-list{
    width:100%;
  }
  body{
    margin: 10mm;
  }
}
@media (max-width:360px){

}
