@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Light.ttf');
}

.mainsection{
    background-color: #fff;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: 1.5em;;
    text-align: justify;
}

p{
    padding: 1em;
    text-align: justify;
}

h3{
    font-weight: bold;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    width:auto;
    background-color: #424242;
}

h1{
    font-family: 'Lobster', cursive;
}

.contentpage{
    width: 80%;
    margin: auto;
    background-color: #E9ECEC;
}

.background{
    box-shadow: 2px 2px 10px #000;
    background-color: #2196F3;
}

.menubutton:hover{
    transition: opacity 1s ease-in-out;
}

img{
    position: relative;
    max-width: 100%;
    height:auto;
}

.mainimage{
    box-shadow: 5px 5px 10px #000;
    width:40%;
    border-radius:5%;
}

.jumbotron-image{
    position:relative;
    height:auto;
    margin: auto;
    text-align: center;
    max-width: 100%;
    max-height: 40em;
}

jumbotron{
    text-align: center;
}

.platform{
    background-color: #CCFFFF;
}
.image4{
    height: auto;
    text-align: center;
    max-width: 100%;

}
.jumbotron-image-container{
    margin: auto;
    text-align: center;
    max-height: 100%;
    max-width:100%;
    height: auto;
}
.platformsexplanation{
    font-size: 1em;
    text-align: justify;
    vertical-align: middle;

}
.whoamiimage {
    height: 50vh;
    float: right;
    display: block;
    padding: 5vh;
    border-radius: 5%;
}

.skillslist{
    display: table;
    margin: 0 auto;
    font-size: 1.25em;
}
.skillslistcontainer{
    width: 100%;
    margin: 0 auto;
}
#contact{
    margin-top: 30px;
}


.projectholder{
    position: relative;
    width: 100%;
}


/*Floating action button*/
.floatingbutton{
    width:5em;
    height: 5em;
    background-color: #00FFFF;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 100px;
    margin: auto;
    box-shadow: 1px 1px 5px #000;

}
.floatingbutton:hover{
    background-color: #80FFFF;
    z-index: 100;
}
/*End floating button*/


/*Contact card styles
Popup business card on first page

*/
.contactcardlayout{
    position:fixed;
    padding:20px;
    border: 5px groove;
    background-color:rgb(252, 249, 229);
    z-index:1000;
    box-shadow: 10px 10px 5px #000;
    display:block;
    top:10%;
    font-family:'Open Sans Condensed', sans-serif;

}
td{
    padding:10px;
}
.cardinfo {
    text-align: right;
}

#contactinfo {
    margin: auto;
    font-size:2em;
}




/*End contact*/



.selectednavbutton{
    background-color: #cacbcb;
}

.navbarshadow {
    box-shadow: 1px 2px 1px #000;
}

/*Styles for the projects page*/
.projectcontainer {
    position: relative;
    top:56px;
    margin: 0 3em;
}

.projectview {
    background-color: #E9ECEC;
    height: auto;
    box-shadow: 5px 5px 10px #000;
    margin:1em;
    vertical-align:top;
}

.projectview:hover{
    background-color: #a8a7a7;
}

#textspamimage {
    float:right;
    text-align: center;
    margin: 0 auto;
}

.projectbody {
    width: 100%;
    position: relative;
}


@media (max-width:969px){
    .contentpage{
        width:100%;
        background-image: #bcbcbc;
        margin: 0px;
    }

    .floatingbutton{
        width:2.5em;
        height: 2.5em;
    }
    .projectcontainer{
        margin:0;
    }
    .projectview{
        margin: 1em 0;
    }
    #textspamimage{
        clear: both;
        display: block;
        float: none;
    }
    .projectimage{
        display:block;
        margin:0 auto;
        float: none;
        clear: both;
        width: 100%;
        top: 50%;
    }

    .projectdescription{
        display: block;
        padding: 10px;
        float: none;
        width: auto;
    }
    div .imagewrapper{
        width: 100%;
        margin: 0 auto;
        clear: both;
    }
    .imagewrapper::after {
        content: "";
        display: table;
        clear: both;
        text-align: center;
    }

    .imagewrapper{
        display: block;
        clear:both;
        float: right;
        height: auto !important;
    }

    div .img-responsive{
        margin:0 auto;
    }

    .contactcardlayout{
        font-size: 0.5em;
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        left:0;
        right:0;
    }
    .platformsexplanation{
        display: block;
        width:100%;
        position: relative;
        left:0;
        padding-left: 0em;

    }

    .jumbotroncaption {
        text-align: center;
        padding: 0px 0px 0px 0px !important;
    }

    .mainimage{
        width: 100%;
    }

    .whoamiimage{
        display: block;
        float: none;
        clear: both;
    }

    .vertical-align{
        display: block;
        clear: both;
    }

    p{
        font-size:1em !important;
    }

    .fa-5{
        font-size:5em !important;
    }

    #contactfab{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .cardTextWrapper{
        width: 100% !important;
        height: auto !important;
    }
    .detailimagewrapper{
        width: 100% !important;
        display: block;
    }
    .detailView p{
        height: 30% !important;
        display: block;
        width:100% !important;
    }
    .detailView{
        top: 0px !important;
        width: 90% !important;
        margin: 0 auto !important;
        height: 100% !important;
    }
    
}
.projectimage{
    padding: 10px;
    margin: auto auto;
    max-height: 270px;
    height: 100%;
    vertical-align: middle;
}


.projectdescription {
    display: inline;
    padding: 10px;
    font-size: 1.25em;
}

.imagewrapper {
    width: 50%;
    height: 300px;
    float: right;
    display: inline-block;
}

.row {
    clear:both;
}

.hidecard{
    opacity: 0;
}

.animation{
    -webkit-animation: cardinanimation .5s ease-out;
    -moz-animation: cardinanimation .5s ease-out;
}

.animation_slide_in{
    -webkit-animation: cardinanimationside .5s ease-out;
    -moz-animation:cardinanimationside .5s ease-out;
}

.contacthide{
    -webkit-animation: cardinanimationsideout .5s ease-in forwards;
    -moz-animation: cardinanimationsideout .5s ease-in forwards;
}

.contacthideinitial{
    display:none;
}

@-webkit-keyframes cardinanimation{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    50%{
        opacity: .2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes cardinanimationside{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    50%{
        opacity: .2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

@-webkit-keyframes cardinanimationsideout{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        opacity: .7;
    }
    100%{
        transform: translateY(-500px);
        opacity: 0;
    }

}

@-moz-keyframes cardinanimation{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    50%{
        opacity: .2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

@-moz-keyframes cardinanimationside{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    50%{
        opacity: .2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes cardinanimationsideout{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        opacity: .7;
    }
    100%{
        transform: translateY(-500px);
        opacity: 0;
    }
}

.jumbotroncaption {
    padding: 0px 100px;
}

.platformtext {
    font-size-adjust: auto;
    font-size: 1.25em;
}

.language-container {
    padding-top: 2em;
}

#androidimg {
    max-height: 30em;
}

.desktopsplit {
    display: table-cell;
    vertical-align: baseline;

}

.other-container {
    display: table-row;
}

.other-container > *{
    vertical-align: middle;
}

.fa-5 {
    font-size: 12em;
    text-align: center;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

i{
    color: #212121;
}

.styletitle {
    text-align: left;
}

.fa-android{
    font-size:20em;
}

.cardTextWrapper{
    display: inline-block;
    float: left;
    height: 300px;
    width: 50%;
}

/*detail view*/
.detailView{
    text-align: center;
    position: relative;
    display: block;
    top: 50px;
    float: none;
    clear: both;
    margin: 0 auto;
    background-color: white;
    height: 70%;
}
.detailimagewrapper{
    width:50%;
    display: inline-block;
    height:auto;
}
.detailmain{
    text-align: center;
    background-color: rgba(64, 64, 64, 0.58);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10000000000;
}

.detailView p{
    width:40%;
    height: 70%;
    float: right;
    overflow: scroll;
}
.closeButton{
    position: absolute;
    top:-5px;
    left: -5px;
    height: 30px;
    width: 30px;
    color: red;
    background-color: #e3e3e3;
    border-radius: 100%;
}
.closeButton:hover{
    background-color: #9b9999;

}
.textspamlink{
    color: #000 !important;
    text-decoration: none !important;
}