.DS_Store
bin/
include/
lib/
__pycache__/
bower_components/
generated_content/
*.pyc
pip-selfcheck.json
.Python

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
