.DS_Store
bin/
include/
lib/
__pycache__/
bower_components/
build/
*.pyc
pip-selfcheck.json
.Python
static/css/resume-styles.css

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
