.mainsection{
    position: ab;
    height: 20em;
    display:block;

}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-family: 'Lobster', cursive;
}
.contentpage{
    width: 80%;
    margin: auto;
    background-color: #E9ECEC;
}
.background{
    background-color: #B6BFBF;
    height: 100%;
}
.menubutton:hover{
    transition: opacity 1s ease-in-out;
}

img{
    position: relative;
    max-width: 100%
        height:auto;
}

.jumbotron-image{
    position:relative;
    height:auto;
    margin: auto;
    text-align: center;
    max-width: 100%;
    max-height: 40em;

}
jumbotron{
    text-align: center;
}
.platform{
    background-color: #CCFFFF;
}
.image4{
    height: auto;
    text-align: center;
    max-width: 100%;

}
.jumbotron-image-container{
    margin: auto;
    text-align: center;
    max-height: 100%;
    max-width:100%;
    height: auto;
}
.imagecarousel{
    cursor: move;
    position: relative;
    overflow: hidden;
    width:512px;
    height: 512px;
    text-align:center;
    display:inline-block;

}

.platformsexplanation{
    display:inline-block;
    padding-left:2em;
    width:30%;
    text-align: justify;
    vertical-align: top;
}

@media (max-width:1000px){
    .platformsexplanation{
        display: block;
        width:100%;

    }

    .imagecarousel{
        display:block;
        text-align: center;
        margin: auto;
        position: relative;
    }
}


#contact{
    display:block;
} 


.projectholder{
    text-align: center;}
/*Floating action buttons*/
.floatingbutton{
    width:100px;
    height: 100px;
    background-color: #00FFFF;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 100px;
    margin: auto;
}
.floatingbutton:hover{
    background-color: #80FFFF;
    z-index: 100;
}
.contactcardlayout{
    position:fixed;
    padding:20px;
    background-color:#FFF9C4;
    z-index:1000;
    margin:auto;
    display:inline-block;
    top:25%;
    left:25%;
    right:25%;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:200%;

}
.contacthide{
    display:none;
}
td{
    padding:10px;
}
