.mainsection{
    position: ab;
    min-height: 20em;
    height: auto;
    background-color: #E9ECEC;
    margin: 10px;
    display:block;
    box-shadow: 1px 1px 10px #000;

}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    width:auto;
}
h1{
    font-family: 'Lobster', cursive;
}
.contentpage{
    width: 80%;
    margin: auto;
    background-color: #E9ECEC;
}
.background{
    background-color: #B6BFBF;
    box-shadow: 2px 2px 10px #000;

}
.menubutton:hover{
    transition: opacity 1s ease-in-out;
}

img{
    position: relative;
    max-width: 100%
        height:auto;
}

.jumbotron-image{
    position:relative;
    height:auto;
    margin: auto;
    text-align: center;
    max-width: 100%;
    max-height: 40em;

}
jumbotron{
    text-align: center;
}
.platform{
    background-color: #CCFFFF;
}
.image4{
    height: auto;
    text-align: center;
    max-width: 100%;

}
.jumbotron-image-container{
    margin: auto;
    text-align: center;
    max-height: 100%;
    max-width:100%;
    height: auto;
}
.imagecarousel{
    cursor: move;
    position: relative;
    max-width:512px;
    height: 512px;
    margin: 5px ;
    left:0px;
}

.platformsexplanation{
    display:inline-block;
    padding-left:2em;
    
    position: relative;
    text-align: justify;
    vertical-align: top;

}

@media (max-width:1000px){
    .platformsexplanation{
        display: block;
        width:100%;
        position: relative;

    }

    .imagecarousel{
        display:block;
        text-align: center;
        margin: auto;
        width: auto;
        max-width: inherit;
        position: relative;
    }
}


#contact{
    margin-top: 30px;

} 


.projectholder{
    text-align: center;
    position: relative;
    width: 100%;
}
/*Floating action buttons*/
.floatingbutton{
    width:100px;
    height: 100px;
    background-color: #00FFFF;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 100px;
    margin: auto;
}
.floatingbutton:hover{
    background-color: #80FFFF;
    z-index: 100;
}

.contactcardlayout{
    position:fixed;
    padding:20px;
    border: 5px groove;
    background-color:rgb(252, 249, 229);
    z-index:1000;
    box-shadow: 10px 10px 5px #000;
    margin:auto;
    display:block;
    top:10%;

    margin: auto;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:200%;

}
.contacthide{
    display:none;
}
td{
    padding:10px;
}




.projectview {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    margin-bottom: 10px;
}

.projectcontainer {
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
    top:50px
}
.selectednavbutton{
    background-color: #cacbcb;
}
.textspamimage {
    float:right;
}

.playimage {
    height: 512px;
    float: left;
}

.projectbody {
    width: 100%;
    position: relative;
}

.cardinfo {
    text-align: right;
}

#contactinfo {
    margin: auto;
}

.playcontent {
   float: right;
}

@media (max-width:1000px){
    .playcontent{
        display: block;
        float: none;
    }


}




.contactentry {
    width: 100%;
}



.twitter-follow-button {
    position: relative;
}
