<div class="main-list-item">
    <h2 class="main-list-item-title">Education</h2>
    <ul class="education-list">
        <li class="education">
            <h4>Bachelor of Software Engineering (BSE)</h4><p class="institution">, University of Waterloo (89% Cumulative average)</p><p class="date right-align">2014 - 2019 (expected)</p>
        </li>
        <li class="education">
            <h4>Machine Learning -- Classification</h4><p class="institution">, University of Washington</p><p class="date right-align">2016</p>
        </li>
        <li class="education">
            <h4>Machine Learning -- Regression</h4><p class="institution">, University of Washington</p><p class="date right-align">2016</p>
        </li>
        <li class="education">
            <h4>Machine Learning -- Foundations</h4><p class="institution">, University of Washington</p><p class="date right-align">2016</p>
        </li>
        <li class="education">
            <h4>Introduction to Machine Learning</h4><p class="institution">, Stanford University</p><p class="date right-align">2015</p>
        </li>
    </ul>
</div>
