<div class="main-list-item" id="education">
    <h2 class="main-list-item-title">Education</h2>
    <ul class="education-list">
        <li class="education-list-item">
            <div class="education-detail">
                <h4 class="course">Bachelor of Software Engineering (BSE)</h4>
                <p class="institution">University of Waterloo (4.0 GPA)</p>
            </div>
            <p class="date">2014 - 2019</p>
        </li>
        <li class="education-list-item">
            <div class="education-detail">
                <h4 class="course">Machine Learning -- Classification</h4>
                <p class="institution">University of Washington</p>
            </div>
            <p class="date">2016</p>

        </li>
        <li class="education-list-item">
            <div class="education-detail">
                <h4 class="course">Machine Learning -- Regression</h4>
                <p class="institution">University of Washington</p>
            </div>
            <p class="date">2016</p>
        </li>
        <li class="education-list-item">
            <div class="education-detail">
                <h4 class="course">Machine Learning -- Foundations</h4>
                <p class="institution">University of Washington</p>
            </div>
            <p class="date">2016</p>
        </li>
        <li class="education-list-item">
            <div class="education-detail">
                <h4 class="course">Introduction to Machine Learning</h4>
                <p class="institution">Stanford University</p>
            </div>
            <p class="date">2015</p>
        </li>
    </ul>
</div>
