{%extends "template.html"%}
{%block header%}
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{%endblock%}
{%block body%}
<div class="background row-fluid">
    <div class="contentpage row-fluid">
        <!--Main Jumbotron-->
        <div id="home"></div>
        <div class="jumbotron">
            <div class="jumbo-content-wrapper">
                <h1 class="name-title">Andrew Codispoti</h1>
                <h4 class="jumbotroncaption">Explore my website and check out some of the projects I have done in the past. Also follow me on Github to actively follow my development.</h4>
            </div>
        </div>
        <!-- About Me-->
        <div class="col-md-12 mainsection row-fluid row-centered" id="about">
            <h2>Who am I?</h2>
            <img class="img-responsive whoamiimage" src="https://scontent.xx.fbcdn.net/hphotos-xtf1/t31.0-8/1909265_10203341730597215_4357029128428828851_o.jpg"/>
            <p>I am a hard-working, passionate entrepreneur who will stop at nothing to succeed.
                I also enjoy learning new things, especially when it has to do with programming.<br/><br/>
                One of my favorite pass-times is reading tech news from various media outlets to stay informed of any new products or innovations (especially Hacker News!!!). I always like to be in "the know" and make it my mission to be informed on the bleeding edge of technological innovation.
                <br/><br>My other main hobby is building mobile applications. I would go as far as to call this one of my passions. In my opinion, there is nothing more rewarding than watching the impact that one of my creations can have on lives of others; it feels good to make a difference in other people's lives. <br><br>Anything else I could possible say in this section would be my own biased perspective of myself so I'll let you be the judge.
            </p>
        </div>
        <div class="col-md-12 mainsection row-fluid row-centered" >
            <h2>What have I done?</h2>
            <p>I have practical experience in several different languages, including but not limited to:
                Java (and Android), C, Python(with Flask), HTML5 and CSS3, and Javascript (with JQuery).</p>
            <p> I am learning C++ through a CS course at school as well as Objective C through the Stanford iOS development course. I am always striving to learn about new things and as a result, have a working knowledge of these languages.</p>
            <p>I have always loved to learn new things so it won't come as a surprise to you when you find out that the projects I have worked on range from a variety different platforms, all of which I have hacked around with. I worked with wearables (including the Pebble smartwatch and Myo armband), and with more mainstream devices such as Android devices, iPhones, Android TV's and more. My thirst for knowledge has yet to be quenched and you can guarantee that should any new technology come out, I will try to be one of the first developers working on an application for it.
                <br><br>Below are the main platforms which I have created applications for and which I focus my efforts on:
                <div class="language-container row-fluid">
                    <div class="android col-xs-12 col-md-6 ">
                        <h2>Android</h2>
                        <p class="platformtext">I have quite a bit of experience with Android and Java in general. I have developed over 30 applications for the Android platform (albeit some extremely basic) and have launched 4 full featured applications on the Google Play Store.</p>
                    </div>
                    <div class="col-md-6 col-xs-12"><i class="fa fa-android fa-5"></i></div>
                </div>
                <!-- Desktop software-->
                <div class="language-container row-fluid">
                    <div id="desktop" class="col-md-6">
                        <h2>Desktop</h2>
                        <p class="platformtext"> I have created applications in Python, Java, and C for the desktop. These programs have ranged from simple command line interfaces, to more complex GUI based programs and games. I have also recently been working on an API using Python and Flask for my application Play (now called Muzik).</p>
                    </div>
                    <div class="col-md-6 col-centered other-container col-xs-12">
                        <div class="col-md-6 col-xs-12" ><i class="icon-python fa-5"></i></div>
                        <div class="col-md-6 col-xs-12"><i class="icon-java fa-5"></i></div>
                    </div>

                </div>

                <div class="language-container row">
                    <div class="web col-md-6">
                        <h2>Web</h2>
                        <p class="platformtext">I have also created several application for the web, using modern languages such as HTML5, CSS3, and JavaScript. I have used Python extensively in several web projects, usually as the goto language for server dev.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 col-centered other-container">
                        <div class="col-md-6 col-xs-12"><i class="fa fa-html5 fa-5"></i></div>
                        <div class="col-md-6 col-xs-12"><i class="fa fa-css3 fa-5"></i></div>
                    </div>
                </div>
                <div class="language-container row-fluid">
                    <div class="othertechnologies col-md-6 ">
                        <h2>Other</h2>
                        <p class="platformtext ">I have exposure to several other languages and frameworks. I have created several iOS applications in Swift and Objective C, worked on an application using NodeJS and MongoDB, created a watchface for the Pebble smartwatch using C, and created an application for the Myo armband on Android. To see more of my projects, visit my <a href="http://github.com/andrew749">Github</a> Account.</p>
                    </div>

                    <div class="other-container col-centered col-md-6 col-xs-12">
                        <div class="col-md-6 col-xs-12"><i class="icon-cplusplus fa-5"></i> </div>
                        <div class="col-md-6 col-xs-12"><i class="fa fa-apple fa-5"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mainsection" id="contact">
                <h2>Like what you see. Send me a message.</h2>
                <p>Honestly, I don't bite.</p><br/>
                <p>If you are interested in contributing to any of my projects, feel free to star the respository and submit pull requests. If you are an employer looking at this, you can contact me through any of the means listed on this website. Click the floating contact button to get the details about how you can reach me.</p><br>
                <div class="row row-centered">
                    <div class="col-md-3 col-centered" >
                        <a href="https://ca.linkedin.com/in/acodispoti">
                            <div class="linkedindiv">
                                <i class="fa fa-linkedin-square fa-5"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3  col-centered"  >
                        <a href="https://twitter.com/Andrewcod749" >
                            <div id="twitterimage">
                                <i class="fa fa-twitter fa-5"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3  col-centered">
                        <a href="http://www.github.com/andrew749">
                            <div class="githubbackground">
                                <i class="fa fa-github fa-5"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="contactfab" class="floatingbutton"><img style="width:inherit;height:inherit; margin:auto;" src="{{url_for('static', filename='Images/user.svg')}}"/></div>
            <!--  contact info goes here-->
            <div class="contactcardlayout contacthide contacthideinitial">
                <table id="contactinfo"><tr><td>Name:</td><td class="cardinfo">Andrew Joseph Codispoti</td></tr>
                    <tr><td>Phone-Number:</td><td class="cardinfo">416-528-7547</td></tr>
                    <tr><td>Github:</td><td class="cardinfo"><a href="http://github.com/andrew749">andrew749</a></td></tr>
                    <tr><td>Email:</td><td id="emailcell" class="cardinfo">andrew.codispoti@gmail.com</td></tr>
                </table>
            </div>
        </div>
    </div>
    {%endblock%}
