{%extends "template.html"%}
{%block header%}
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{%endblock%}
{%block body%}
<div class="background">
    <div class="contentpage">

        <!--Main Page-->
        <div class="first_section main_section">

            <div class="jumbo-content-wrapper">
                <h1 class="name-title">Andrew Codispoti</h1>
                <h4 class="jumbotroncaption">
                    Vim-wielding Pythonista who has an obsession with AI and Machine Learning.
                </h4>
            </div>

            <div class="profile-pic-wrapper">
                <img class="rounded-image" id="profile-pic" src="https://scontent-yyz1-1.xx.fbcdn.net/t31.0-8/12440732_10207001277443599_968409172986508788_o.jpg"/>
            </div>

        </div>

        <!-- About Me-->
        <div class="main_section" id="about">
            <h2 class="main_section_header_text">Who am I?</h2>
            <p>
                <img class="rounded-image img-responsive whoamiimage" src="https://scontent.xx.fbcdn.net/hphotos-xtf1/t31.0-8/1909265_10203341730597215_4357029128428828851_o.jpg"/>

                I am a hard-working, passionate entrepreneur who will stop at
                nothing to succeed. I also enjoy making things, lots and lots of things :).

                <br/><br/>

                One of my favorite pass-times is reading Hacker News. I always like to be in
                "the know" and make it my mission to be informed and on the
                bleeding edge of technological innovation.

                <br/><br/>

                My other main hobby is building mobile applications. I would go as far
                as to call this one of my passions. In my opinion, there is
                nothing more rewarding than watching the impact that one of my
                creations can have on the lives of others; it feels good to make
                a difference.

                <br><br>

                Anything else I could possible say in this section would be my own biased
                perspective of myself so I'll let you be the judge.

            </p>
        </div>

        <div class="main_section" >

            <h2 class="main_section_header_text">What have I done?</h2>
            <p>
                I have practical experience in several
                different languages, including but not limited to: Java (and
                Android), C and C++, Python, and JavaScript + a few more.
            </p>

            <div class="language-header">
                <h4 class="inline-header">Python</h4> <i class="icon-python fa-2x"></i>
            </div>
            <p>
                Python is my love affair. If I need to solve a problem, I usually reach for my command line and start up a Python prompt. I've used Python for several side projects. I also completed 3 Coursera courses (perks of being an employee) which involved using Python to solve a variety of problems with machine learning techniques. I've used numpy, scipy and scikit-learn (as well as some graphlab create). I've played around with tensorflow. I've also played around with some simple neural nets as well as some genetic algorithms. I can easily say that Python is my favorite problem solving tool.
            </p>

            <div class="language-header">
                <h4 class="inline-header">C++</h4> <i class="icon-cplusplus fa-2x"></i>
            </div>
            <p>
                Now comes C++ :). Being an engineer, C++ is a very natural choice for most projects. In most cases, most of my school courses have used C++ at one point or another.
                As a result, I now have a portfolio of C++ projects which range from sorting algorithms, to a compiler, even my own compression algorithm.
            </p>

            <div class="language-header">
                <h4 class="inline-header">iOS / MacOS</h4>
            </div>
            <p>
                I am a self taught iOS programmer (took Stanford iOS Application Development course) with professional experience as well (XE.com now Euronet). I have delved into large Objective C code bases, though I have also (luckily or unluckily)
                had experience to all swift versions, all the way from 1 to 3. MacOS has been an exploratory platform for me. On one hand, its }nice making apps that you can use immediately that look nice on your computer, though the lack of being able to run these experiements cross platform have forced me to resist getting in too deep.
            </p>

            <div class="language-header">
                <h4 class="inline-header">Android</h4> <i class="fa fa-android fa-2x"></i>
            </div>

            <p>
                I have quite a bit of experience with Android and Java in general. I have developed a plethora of applications for the Android platform (albeit some extremely basic) and have launched 4 full featured applications on the Google Play Store. I also was one of the developers for Coursera's Android application. If you open up the Coursera application, and you see that timeline on your homepage, that was me. Also the whole audio streaming architecture allowing for backgroudn audio. To top it all off, I made relatively large contributions to the content processing system that renders all quizzes and exams on the phone (render html code and math expressions).
            </p>

            <p>
                I have always loved to learn new things so it
                won't come as a surprise to you when you find out that the
                projects I have worked on range from a variety different
                platforms, all of which I have hacked around with. I worked
                with wearables (including the Pebble smartwatch, Myo
                armband, as well as both Android Wear watches and the Apple Watch), and with more mainstream devices such as Android
                devices, iPhones, Android TV's and more.
                <br><br>
            </p>

        </div>

        <!--Contact Section-->
        <div class="main_section" id="contact">
            <h2 class="main_section_header_text">Like what you see.</h2>
            <h5>Send me a message.</h5>

            <p>Honestly, I don't bite.</p>

            <p>
                If you are interested in contributing to any of my projects, feel free to star the repository and submit a pull request. Anybody else looking to get in touch with me can drop me an email or send a message on LinkedIn or Facebook.
            </p>
            <br>

        </div>
    </div>
</div>
{%endblock%}
