<div class="main-list-item experience-section" id="projects">
    <h2 class="main-list-item-title">Projects</h2>
    <ul>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Hive</h3><p class="date">2017 - Present</p>
            </div>
            <ul>
                <li>A peer mentorship platform deployed at the University of Waterloo. Connects students in the community and works to foster strong relationships with an emphasis on in person interaction.</li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Distribute</h3> <p class="date">2016 - Present</p>
            </div>
            <ul>
                <li>A distributed computation cluster scheduler. Could schedule MapReduce jobs, leveraging users' web browsers as compute nodes, and stitch together the results with some fault redundancy.</li>
            </ul>
        </li>
    </ul>
</div>
