<div class="main-list-item experience-section" id="projects">
    <h2 class="main-list-item-title">Projects</h2>
    <ul>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Hive</h3><p class="date">2017 - Present</p>
            </div>
            <ul>
                <li>
                    A platform/social network with a focus on facilitating peer
                    mentorship. Connects students to other students who act in
                    a mentorship capacity. Works to foster strong relationships
                    by placing an emphasis on in person interaction and
                    providing a structured program to help students develop
                    relationships.
                </li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Distribute</h3> <p class="date">2016 - Present</p>
            </div>
            <ul>
                <li>
                    A distributed computation framework. Can schedule MapReduce
                    jobs on a cluster of web browsers, using each browsers' resources to
                    perform large scale computations.
                </li>
            </ul>
        </li>
    </ul>
</div>
