<div class="main-list-item experience-section" id="projects">
    <h2 class="main-list-item-title">Projects</h2>
    <ul>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Distribute</h3> <p class="date">2016 - Present</p>
            </div>
            <ul>
                <li>A distributed computation cluster scheduler. Could schedule MapReduce jobs, leveraging users' web browsers as compute nodes, and stitch together the results with some fault redundancy.</li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Note-It-Now</h3><p class="date">2015 - Present</p>
            </div>
            <ul>
                <li>An automated note bookmarking application. Uses various image processing techniques to find a set of handwritten markdown characters. Notes can then be segmented into sections and labelled.</li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">Compression Algorithm</h3><p class="date">2016</p>
            </div>
            <ul>
                <li>An adaptive lossless compression algorithm, implemented in C++, using BWT Huffman coding and LZW to compress string data.</li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">C Compiler</h3><p class="date">2015</p>
            </div>
            <ul>
                <li>A compiler written in C++, that can compile a subset of C into ARM and MIPS machine code.</li>
            </ul>
        </li>
        <li class="project">
            <div class="project-info">
                <h3 class="project-name">HeartRateMonitor</h3><p class="date">2013 - 2014</p>
            </div>
            <ul>
                <li>An image processing algorithm which could compute a person's heart rate using raw camera data from a user's phone.</li>
            </ul>
        </li>
    </ul>
</div>
