<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/resume-styles.css')}}">
        <title>Andrew Codispoti</title>
        <link rel="icon" type="image/png" href="Images/favicon.ico">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-46422801-5', 'auto');
ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="resume-header">
            <div class="info">
                <p id="name-title">Andrew Codispoti</p>
                <p id="occupation-title">Software Engineer</p>
            </div>
            <div class="contact-table">
                <table>
                    <tr>
                        <td><i class="fa fa-globe" aria-hidden="true"></i></td>
                        <td><a href="http://andrewcodispoti.me">andrewcodispoti.me</a></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-mobile" aria-hidden="true"></i></td>
                        <td> <a href="tel://416-528-7547">416-528-7547</a></td>
                    </tr>
                    <tr>
                        <td> <i class="fa fa-envelope-o" aria-hidden="true"></i></td>
                        <td> <a href="mailto:andrew.codispoti@gmail.com">andrew.codispoti@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td> <i class="fa fa-github" aria-hidden="true"></i></td>
                        <td> <a href="http://github.com/andrew749">andrew749</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <ul class="main-list">
            <div class="horizontal-view">
                <div class="vertical-view">
                    {% include 'work_experience.html' %}
                    {% include 'projects_section.html' %}
                </div>
                <div class="vertical-view sidebar">
                    {% include 'skills.html' %}
                    {% include 'education.html' %}
                </div>
            </div>
        </ul>
    </div>
</body>
</html>
