<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/resume-styles.css')}}">
        <title>Andrew Codispoti</title>
        <link rel="icon" type="image/png" href="Images/favicon.ico">
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-46422801-5', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="resume-header-wrapper">
            <div class="resume-header">
                <p id="name-title">Andrew Codispoti</p>
                <p id="occupation-title">Software Engineer</p>
                <div class="contact-table">
                    <div class="left-align-print subheading">
                        <div id="phone-element"><div class="contact-heading">Cell:</div><div><a href="tel://416-528-7547">416-528-7547</a></div></div>
                        <div id="website-element"><div class="contact-heading">Website:</div><div><a href="http://andrewcodispoti.me">andrewcodispoti.me</a></div></div>
                    </div>
                    <div class="right-align-print subheading">
                        <div id="email-element"><div class="contact-heading">Email:</div><div><a href="mailto:andrew.codispoti@gmail.com">andrew.codispoti@gmail.com</a></div></div>
                        <div id="github-element"><div class="contact-heading">GitHub:</div><div><a href="http://github.com/andrew749">github.com/andrew749</a></div></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <ul class="main-list">
            <li class="main-list-item">
                <h2 class="main-list-item-title">Summary</h2>
                <ul class="summary-list">
                    <li>
                        Proficient in a plethora of languages including:
                        <span class="highlight">Python</span>,
                        <span class="highlight">Java</span>,
                        <span class="highlight">C++</span>,
                        <span class="highlight">JavaScript</span>,
                        <span class="highlight">Swift</span>,
                        <span class="highlight">Objective C</span>,
                        <span class="highlight">HTML</span>,
                        <span class="highlight">CSS</span>,
                        <span class="highlight">C</span>,
                        and <span class="highlight">Kotlin</span>.</li>
                    <li>
                        Practical experience with several database technologies including
                        <span class="highlight">MySQL</span>,
                        <span class="highlight">SQLite</span>,
                        <span class="highlight">PostgreSQL</span>,
                        and <span class="highlight">MongoDB</span>.
                    </li>
                    <li>
                        Knowledge of the fundamentals of several Machine Learning algorithms, as well as the ability to apply these algorithms to solve real world problems.
                    </li>
                    <li>
                        Practical experience with
                        <span class="highlight">pandas</span>,
                        <span class="highlight">numpy</span>,
                        <span class="highlight">scikit-learn</span> and
                        <span class="highlight">PyBrain</span> for data analysis.
                    </li>
                    <li>Deployed several applications and services on
                        <span class="highlight">AWS</span>.
                        More specifically I have used
                        <span class="highlight">EC2</span>,
                        <span class="highlight">RDS</span>,
                        <span class="highlight">Elastic Beanstalk</span>,
                        <span class="highlight">SQS</span>,
                        <span class="highlight">S3</span>, and
                        <span class="highlight">Elastic Load Balancer</span> in production systems.</li>
                    <li>Experience in supporting a wide range of devices, API levels, and localizations through the development of several applications for the <span class="highlight">Android</span> and <span class="highlight">iOS</span> platforms.</li>
                </ul>
            </li>
            <li class="main-list-item">
                <h2 class="main-list-item-title">Work Experience</h2>
                <ul>
                    <li>
                        <h4>Wish (Software Engineer), September 2016 - December 2016</h4>
                        <ul>
                            <li>
                                Implemented payment processing pipelines, responsible for creating and disbursing hundreds of millions of dollars of payments each month.
                            </li>
                            <li>
                                Utilized <span class="highlight">Apache Hive</span> and Facebook's <span class="highlight">Presto</span> querying engines to perform audits on massive distributed datasets.
                            </li>
                            <li>
                                Implemented new features and APIs for the merchant platform, using <span class="highlight">Python</span> and <span class="highlight">MongoDB</span> for backend development and <span class="highlight">Backbone.js</span> and <span class="highlight">JQuery</span> for front end development.
                            </li>
                            <li>
                                Created and optimized several mission critical scripts, allowing for the processing of hundreds of terabytes of data using map reduce and pipelining techniques.
                            </li>
                            <li>
                                Created a slackbot for the Wish Hackathon, which utilized image processing techniques to estimate foot traffic in different areas of the office and report this.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>Coursera (Software Engineer), January 2016 - May 2016</h4>
                        <ul>
                            <li>
                                Created the new Coursera Dashboard for <span class="highlight">Android</span> including the custom timeline view featured on the homepage.
                            </li>
                            <li>
                                Created a Facebook messenger bot for Coursera's Make-A-Thon.
                            </li>
                            <li>
                                Fully implemented background audio functionality for the Coursera application.
                            </li>
                            <li>
                                Refreshed the in-house content rendering system (custom markup) used on the mobile application.
                            </li>
                            <li>
                                Implemented the ability to review peers' assignments on the <span class="highlight">Android</span> application.
                            </li>
                            <li>
                                Fixed several low level bugs, including memory leaks, using different profiling techniques.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>XE.com (Application Developer), May 2015 - September 2015</h4>
                        <ul>
                            <li>
                                Independently designed and created the XE <span class="highlight">Android Wear</span> client from scratch and interfaced it with the XE app.
                            </li>
                            <li>
                                Maintained the XE <span  class="highlight">iOS</span> and <span class="highlight">Apple Watch</span> applications through the addition of new features and bug fixes. Used a combination of <span class="highlight">Swift</span> and <span class="highlight">Objective C</span> in an agile development process.
                            </li>
                            <li>
                                Prepared the XE application for it's iOS 9 launch, interfacing it with Apple's Search APIs.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="main-list-item experience-section">
                <h2 class="main-list-item-title">Projects</h2>
                <ul>
                    <li class="project">
                        <h4>Distribute, 2016 - Present</h4>
                        <ul>
                            <li>Created a proof of concept distributed system that could perform map reduce jobs, leveraging clients' computers as nodes which could be used to process and return data.</li>
                        </ul>
                    </li>
                    <li class="project">
                        <h4>Chordi.co, 2015</h4>
                        <ul>
                            <li>Created a music generation program which utilized a feed-forward, backward propagated <span class="highlight">Neural Network</span> for procedural song generation.</li>
                        </ul>
                    </li>
                    <li class="project">
                        <h4>Note-It-Now, 2015 - Present</h4>
                        <ul>
                            <li>Developed an application which would take an image of a student's notes, analyze the contents, and using image processing techniques automatically bookmark it based on marked down headings.</li>
                        </ul>
                    </li>
                    <li class="project">
                        <h4>HeartRateMonitor, 2013 - Present</h4>
                        <ul>
                            <li>Designed and implemented an image processing algorithm which would compute a person's heart rate based on a phone's camera data.</li>
                        </ul>
                    </li>
                    <li class="project">
                        <h4>Muzik, 2014 - Present</h4>
                        <ul>
                            <li>An extensible music streaming API and service which amalgamates several audio sources on the Internet.</li>
                            <li>Developed an <span class="highlight">iOS</span> and <span class="highlight">Android</span> application which supported Chromecast functionality.</li>
                        </ul>
                    </li>

                    <li class="project">
                        <h4>TextSpam, 2012 - 2015</h4>
                        <ul>
                            <li>Created an <span class="highlight">Android</span> application which enabled a user to maintain mailing lists of clients and send out messages to batches of people using their existing mobile plan.</li>
                            <li>Achieved approximately 100,000 downloads on the Google Play Store.</li>
                        </ul>
                    </li>
                    <li class="project vicinime">
                        <h4>Vicinime, 2015</h4>
                        <ul>
                            <li>An anonymous location based image sharing service with an <span class="highlight">iOS</span> client.</li>
                        </ul>
                    </li>
                    <li class="project">
                        <h4>Hive, 2014</h4>
                        <ul>
                            <li>Created a real-time local event sharing and discovery application with an <span class="highlight">Android</span> client.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="main-list-item">
                <h2 class="main-list-item-title">Education</h2>
                <ul>
                    <li>
                        <h4>Bachelor of Software Engineering, Co-operative Program, University of Waterloo, Waterloo, Ontario, 2014 - Present</h4>
                        <ul>
                            <li>CS137 Programming Principles, CS138 Data Abstraction and Implementation, CS241 Foundations of Sequential Programs, CS240 Data Structures and Algorithms, CS247 Software Design Principles.</li>
                        </ul>
                    </li>
                    <li>
                        <h4>Machine Learning Classification, University of Washington, 2016</h4>
                        <ul>
                            <li>Utilized <span class="highlight">pandas</span> and <span class="highlight">numpy</span> to implement several classification algorithms including logistic regression, boosting, and decision trees.</li>
                        </ul>
                    </li>
                    <li>
                        <h4>Machine Learning Regression, University of Washington, 2016</h4>
                        <ul>
                            <li>Utilized <span class="highlight">pandas</span> and <span class="highlight">numpy</span> to implement several algorithms including linear regression, k-nearest neighbors and several different regularization techniques.</li>
                        </ul>
                    </li>
                    <li>
                        <h4>Machine Learning Foundations, University of Washington, 2016</h4>
                        <ul>
                            <li>Utilized <span class="highlight">scikit-learn</span>, <span class="highlight">pandas</span>, and <span class="highlight">numpy</span> to practically apply several machine learning techniques to different problems.</li>
                        </ul>
                    </li>
                    <li>
                        <h4>Introduction to Machine Learning, Stanford University, 2015</h4>
                    </li>
                </ul>
            </li>
            <li class="main-list-item">
                <h2 class="main-list-item-title">Awards and Certifications</h2>
                <ul>
                    <li>
                        <h4>University of Waterloo Dean's Honour List</h4>
                    </li>
                    <li>
                        <h4>Governor General's Academic Medal</h4>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>
