<div class="main-list-item">
    <h2 class="main-list-item-title">Skills</h2>
    <ul class="summary-list">
        <li class="skills-section">
            <h3 >Languages</h3>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>PHP/Hack</li>
                <li>Swift</li>
                <li>Scala</li>
                <li>Objective C</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>C</li>
            </ul>
        </li>


        <li class="skills-section">
            <h3>Databases</h3>
            <ul>
                <li>MySQL</li>
                <li>SQLite</li>
                <li>MongoDB</li>
            </ul>
        </li>
        <li class="skills-section">
            <h3>Data analysis</h3>
            <ul>
                <li>pandas</li>
                <li>numpy</li>
                <li>scikit-learn</li>
            </ul>
        </li>

        <li class="skills-section">
            <h3>Misc</h3>
            <ul>
        <li>Experience using AWS in large scale distributed applications</li>
        <br/>
        <li>Professional Android and iOS development experience</li>
        </ul>
        </li>
    </ul>
</div>
