<div class="main-list-item">
    <h2 class="main-list-item-title">Skills</h2>
    <ul class="summary-list">
        <li class="skills-section">
            <h3 >Languages</h3>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>PHP/Hack</li>
                <li>Swift</li>
                <li>Scala</li>
                <li>Objective C</li>
                <li>C</li>
            </ul>
        </li>
        <ul class="frameworks-section">
            <h3>Tools</h3>
            <ul>
                <li>Spark</li>
                <li>Hadoop</li>
                <li>Zookeeper</li>
                <li>Thrift</li>
                <li>Kafka</li>
            </ul>
            <li>
        </ul>
        <li class="skills-section">
            <h3>Databases</h3>
            <ul>
                <li>MySQL</li>
                <li>SQLite</li>
            </ul>
        </li>
        <li class="skills-section">
            <h3>Data analysis</h3>
            <ul>
                <li>pandas</li>
                <li>numpy</li>
                <li>scikit-learn</li>
            </ul>
        </li>
    </ul>
</div>
