<div class="main-list-item">
    <h2 class="main-list-item-title">Skills</h2>
    <ul class="summary-list">
        <li>
            Languages:
            <span class="highlight">Python</span>,
            <span class="highlight">Java</span>,
            <span class="highlight">C++</span>,
            <span class="highlight">JavaScript</span>,
            <span class="highlight">Swift</span>,
            <span class="highlight">Objective C</span>,
            <span class="highlight">HTML</span>,
            <span class="highlight">CSS</span>,
            <span class="highlight">C</span>,
            and <span class="highlight">Kotlin</span>.</li>
        <li>
            Databases:
            <span class="highlight">MySQL</span>,
            <span class="highlight">SQLite</span>,
            <span class="highlight">PostgreSQL</span>,
            and <span class="highlight">MongoDB</span>.
        </li>
        <li>
            Data analysis:
            <span class="highlight">pandas</span>,
            <span class="highlight">numpy</span>,
            <span class="highlight">scikit-learn</span>.
        </li>
        <li>Experience with <span class="highlight">AWS</span>.</li>
        <li>Professional <span class="highlight">Android</span> and <span class="highlight">iOS</span> experience.</li>
    </ul>
</div>
