<div class="main-list-item">
    <h2 class="main-list-item-title">Work Experience</h2>
    <ul class="company-list">
        <li>
            <div class="company-info" id="asana">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3><a href="http://asana.com">Asana</a></h3>
                        <p>Software Engineer, Infrastructure Stability</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">May 2017 - Present</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul>
                <li>Working towards increasing site reliability and uptime.</li>
                <li>Added new metrics to the application to better track site health.</li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="wish">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3><a href="http://wish.com">Wish</a></h3>
                        <p>Software Engineer, Payments</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">September 2016 - December 2016</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    Implemented payment processing pipelines responsible for disbursing hundreds of millions of dollars monthly.
                </li>
                <li>
                    Utilized <span class="highlight">Apache Hive</span> and Facebook's <span class="highlight">Presto</span> querying engines to perform audits on massive distributed datasets.
                </li>
                <li>
                    Implemented several new features and APIs for the merchant platform using <span class="highlight">Python</span>, <span class="highlight">MongoDB</span> and <span class="highlight">Backbone.js</span>.
                </li>
                <li>
                    Created and optimized several mission critical scripts, allowing for the processing of billions of records using MapReduce and pipelining techniques.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="coursera">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3><a href="http://www.coursera.org">Coursera</a></h3>
                        <p>Software Engineer</p>
                    </div>
                    <div class="logistics log-right">
                        <p>January 2016 - May 2016</p>
                        <p>Mountain View, California</p>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    Created the new Coursera Dashboard for <span class="highlight">Android</span> including the custom timeline view featured on the homepage.
                </li>
                <li>
                    Fully implemented background audio functionality for the Coursera application.
                </li>
                <li>
                    Rewrote the custom markup rendering system used on the mobile application.
                </li>
                <li>
                    Implemented the ability to review peers' assignments on the <span class="highlight">Android</span> application.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="xe">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3><a href="http://www.xe.com">XE.com</a> (Acquired by Euronet)</h3>
                        <p>Application Developer</p>
                    </div>
                    <div class="logistics log-right">
                        <p>May 2015 - September 2015</p>
                        <p>Newmarket, Canada</p>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    Independently designed and created the XE <span class="highlight">Android Wear</span> client from scratch and interfaced it with the XE app.
                </li>
                <li>
                    Maintained the XE <span  class="highlight">iOS</span> and <span class="highlight">Apple Watch</span> applications through the addition of new features and bug fixes.
                </li>
            </ul>
        </li>
    </ul>
</div>
