<div class="main-list-item" id="work-experience">
    <h2 class="main-list-item-title">Work Experience</h2>
    <ul class="company-list">
        <!--<li>-->
            <!--<div class="company-info" id="linkedin">-->
                <!--<div class="company-info-text">-->
                    <!--<div class="logistics log-left">-->
                        <!--<h3 class="company-name"><a href="http://linkedin.com">LinkedIn</a></h3>-->
                        <!--<p class="job-title">Future Systems and Infrastructure Engineering Intern, Distributed Graph Database</p>-->
                    <!--</div>-->
                    <!--<div class="logistics log-right">-->
                        <!--<p class="job-date">September 2018 - December 2018</p>-->
                        <!--<p>Sunnyvale, California</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<ul class="company-description">-->
            <!--</ul>-->
        <!--</li>-->
        <li>
            <div class="company-info" id="facebook">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://facebook.com">Facebook</a></h3>
                        <p class="job-title">Production Engineer Intern, Security</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">January 2018 - May 2018</p>
                        <p>Menlo Park, California </p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>Developed a framework to perform automated canarying and deployment of services. Analyzes time series statistics of canary health to prevent regression.</li>
                <li>Created a service to check for known vulnerable software packages installed on servers and perform automatic remediation.</li>
                <li>Implemented an internal search engine to store and query for vulnerabilities affecting public and internal software packages.</li>
                <li>Developed a tool to allow employees to report and triage vulnerabilties affecting production services.</li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="asana">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://asana.com">Asana</a></h3>
                        <p class="job-title">Software Engineer Intern, Infrastructure Stability</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">May 2017 - September 2017</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>Customized NodeJS and the underlying V8 runtime, exploiting semantics of the operating system to improve session startup time by 300%.</li>
                <li>Optimized the build process for the application, reducing build times to be 1/15 their original value.</li>
                <li>Improved automated code deployment to become more robust modular and faster, cutting deployment time in half.</li>
                <li>Added and improved infrastructure health metrics to gain better insight into cluster health.</li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="wish">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://wish.com">Wish</a></h3>
                        <p class="job-title">Software Engineer Intern, Payments</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">September 2016 - December 2016</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Implemented payment processing pipelines responsible for disbursing hundreds of millions of dollars monthly.
                </li>
                <li>
                    Utilized Apache Hive and Presto to perform audits on petabyte scale datasets.
                </li>
                <li>
                    Designed and created several new features and APIs for the merchant platform.
                </li>
                <li>
                    Created and optimized several MapReduce scripts to efficiently process of billions of records.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="coursera">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://www.coursera.org">Coursera</a></h3>
                        <p class="job-title">Software Engineer Intern</p>
                    </div>
                    <div class="logistics log-right">
                        <p>January 2016 - May 2016</p>
                        <p>Mountain View, California</p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Redesigned and implemented the custom markup rendering system used on the mobile application.
                </li>
                <li>
                    Developed a new homepage for the Android application, building out custom widgets from scratch.
                </li>
                <li>
                    Implemented background audio functionality for the Android application.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="xe">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://www.xe.com">XE.com</a> </h3>
                        <p class="job-title">Application Developer Intern</p>
                    </div>
                    <div class="logistics log-right">
                        <p>May 2015 - September 2015</p>
                        <p>Newmarket, Canada</p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Created the XE Android Wear client.
                </li>
                <li>
                    Maintained the XE iOS and Apple Watch applications through the addition of new features and bug fixes.
                </li>
                <li>Converted large sections of the XE iOS application over from Objective C to Swift.</li>
            </ul>
        </li>
    </ul>
</div>
