<div class="main-list-item" id="work-experience">
    <h2 class="main-list-item-title">Work Experience</h2>
    <ul class="company-list">
        <li>
            <div class="company-info" id="asana">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://asana.com">Asana</a></h3>
                        <p class="job-title">Software Engineer, Infrastructure Stability</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">May 2017 - Present</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>Customized NodeJS to implement OS level forking in the V8 runtime.</li>
                <li>Improved automated code deployment to become more robust, modular and faster.</li>
                <li>Improved the metrics aggregation pipeline to be more error tolerant and more performant.</li>
                <li>Added and improved infrastructure health metrics.</li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="wish">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://wish.com">Wish</a></h3>
                        <p class="job-title">Software Engineer, Payments</p>
                    </div>
                    <div class="logistics log-right">
                        <p class="job-date">September 2016 - December 2016</p>
                        <p>San Francisco, California </p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Implemented payment processing pipelines responsible for disbursing 100s of millions of dollars monthly.
                </li>
                <li>
                    Utilized <span class="highlight">Apache Hive</span> and <span class="highlight">Presto</span> querying engines to perform audits on massive distributed datasets.
                </li>
                <li>
                    Designed and created several new features and APIs for the merchant platform.
                </li>
                <li>
                    Created and optimized several scripts to efficiently process of billions of records using MapReduce.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="coursera">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://www.coursera.org">Coursera</a></h3>
                        <p class="job-title">Software Engineer</p>
                    </div>
                    <div class="logistics log-right">
                        <p>January 2016 - May 2016</p>
                        <p>Mountain View, California</p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Created the new dashboard for <span class="highlight">Android</span> including the custom timeline view on the homepage.
                </li>
                <li>
                    Fully implemented background audio functionality for the Coursera application.
                </li>
                <li>
                    Rewrote the custom markup rendering system used on the mobile application.
                </li>
                <li>
                    Implemented the ability to review peers' assignments on the <span class="highlight">Android</span> application.
                </li>
            </ul>
        </li>
        <li>
            <div class="company-info" id="xe">
                <div class="company-info-text">
                    <div class="logistics log-left">
                        <h3 class="company-name"><a href="http://www.xe.com">XE.com</a> </h3>
                        <p class="job-title">Application Developer</p>
                    </div>
                    <div class="logistics log-right">
                        <p>May 2015 - September 2015</p>
                        <p>Newmarket, Canada</p>
                    </div>
                </div>
            </div>
            <ul class="company-description">
                <li>
                    Independently designed and created the XE <span class="highlight">Android Wear</span> client.
                </li>
                <li>
                    Maintained the XE <span  class="highlight">iOS</span> and <span class="highlight">Apple Watch</span> applications through the addition of new features and bug fixes.
                </li>
            </ul>
        </li>
    </ul>
</div>
