$bgcolor: #F5F5F5;

i {
    color: #212121;
}

p {
    text-align: justify;
}

.rounded-image {
    border-radius:50%;
}

.fa {
    display:inline;
}

body {
    font-weight: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    width: auto;
}

.card {
    flex-basis: 500px;
    background-color: white;
    box-shadow: 1px 1px 2px;
    padding: 1em;
    margin: 1em;
    display: flex;
}

.card:hover {
    background-color: grey;
}
