header{
    font-size: 3em;
    font-family: 'Roboto';
    background-color:#E0E0E0;
    border-radius: 10px;
}
body{
    background-color: #0D47A1;
    font-family: 'Roboto:300';
}
#textspamlogo{
    margin: 0 auto;
    display: block;
    width: 40%;
}

#googleplay{
    display: block;
    margin: 0 auto;
}
section{
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    margin: 25px auto;
    width: 90%;
    display: block;
    font-size:1.5em;

}
p{
padding-left:20px;
padding-right:20px;

}
#tscustomerdescription{
    float: left;
    width: 50%;
}
#businessimage{
    width: 30%;
    float:right;
    margin:2em;
    margin-right: 10%;
    border-radius: 10px;
}

#bimagewrapper:after {
    content: "";
    display: table;
    clear: both;
}
#friendsspam{
    float:right;
    width: 50%;
}
#friendsimage{
    width:30%;
    float: left;
    margin: 2em;
    margin-left: 10%;
}
#friendsimagewrapper:after{
    content:"";
    display: table;
    clear: both;

}
@media (max-width:1000px){
    #textspamlogo{
        margin: 0 auto;
        display: block;
        width: 70%;
    }
    #businessimage{
        float: none;
        clear:both;
        display: block;
        width:70%;
        margin: 0px;
        margin: 0 auto;
    }
    #tscustomerdescription{
        float: none;
        width: 100%;
    }
    #friendsimage{
        width: 70%;
        float:none;
        clear:both;
    }
    #friendsspam{
        width:100%;
    }
}
